* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.telaLogin {
  margin: 200px 0;
  text-align: center;
}

.nomeLogin {
  margin: 50px 0;
}

.listaHeader {
  background: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0;
}

.listaHeader li {
  margin: 0 20px;
}

.listaAlbuns a {
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 2px gray;
  color: black;
  margin: 5px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

.listaHeader li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.formSearch {
  padding: 20px 0;
  text-align: center;
}

.formSearch input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.formSearch button {
  background: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
  padding: 10px;
  transition: 1s;
}

.formSearch button:disabled {
  background: gray;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
  padding: 10px;
  transition: 1s;
}

.listaAlbuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 1px;
}

.resultadosPesquisa {
  margin: 50px 0;
  text-align: center;
}

.listaAlbuns h2 {
  margin: 20px 0;
}

.listaAlbuns a li img {
  width: 100%;
}
